/*App.js*/
.Lista {
  display:flex;
  flex-Direction:column;
  flex:1;
  background-Color: #a9bcc6;
  border-Right:solid 1px;
  border-Color: #023026;
}
.Titulo{
  display:flex;
  justify-Content:left;
  color: white;
  width:100%;
  height:15%;
  background-Color: #02334a;
  text-Indent:40px;
  font-size: 20px;
  font-weight: bold;
}
.Caja{
  background: rgb(228,195,215);
  background: linear-gradient(0deg, rgba(228,195,215,1) 0%, rgba(160,191,208,1) 100%);
  width:100%;
  height:100%;
  overflow-Y: scroll;
}
/*Img.js*/
.img{
  display:flex-start;
  float: left;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  object-fit: cover;
}

/*Contactos.js*/
.Contacto{
  flex-Direction:column;
  background-Color:#a9bcc6;
  width:100%;
  height:90px;
  border-Bottom:solid 1px;
  border-Color:#d5e2ed;
  cursor: pointer;
  text-indent: 5px;

}
.Contacto:active{
  background-Color: lightgrey;
}
.Nombre{
  padding-top:15px;
  display: flex;
  font-size: 20px;
  font-weight: bold;
}
.preview{
  display: flex;
  font-size: 16px;
  align-items: left;
  text-overflow: ellipsis;
  overflow: hidden;
white-space: nowrap;

}
/*Escribir.js*/
.Escribir{
  display:flex;
  flex-Direction:row;
  background-Color:#271c42;
  width:100;
  height:90px;
  text-Indent:20px;
}
.TextoArea{
  display:flex ;
  flex-Direction:column;
  width:70%;
  height:25px;
  padding:5px;
  justify-Content:center; 
  Align-Items:center;
  background-Color: #513e5c;
  color: white;
  border-Radius:10px;
  margin:20px;
  font-Size:20px;
  resize:none;
}
.material-icons{
  color: white;
  display: flex;
  font-size: 40px;
  padding: 15px;
  margin: 5px;
  cursor: pointer;
}
.material-icons:active{
  color: mediumpurple;
}
/*Globo.js*/
.Globo{
  display:flex;
  flex-Direction:column;
  width:fit-content;
  height: auto;
  padding:10px;
  text-Align:left;
  margin-Left: 10px;
  margin-Right: auto;
  Align-Items:center;
  word-Wrap: break-word;
  background-Color: #513e5c;
  color: white;
  border-Radius:20px;
  margin:30px;
  font-Size:17p;
}